<section class="order about">
  <div class="container">
    <div>
      <div class="order-text-title double-title">
        <span>Лучшая</span> итальянская пиццерия!
      </div>
      <div class="order-text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deleniti enim eveniet facilis, ipsam obcaecati
        ullam? Assumenda dicta eligendi incidunt inventore ipsam, laborum magnam necessitatibus nihil quaerat similique
        totam veritatis!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deleniti enim eveniet facilis, ipsam obcaecati
        ullam? Assumenda dicta eligendi incidunt inventore ipsam, laborum magnam necessitatibus nihil quaerat similique
        totam veritatis!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deleniti enim eveniet facilis, ipsam obcaecati
        ullam? Assumenda dicta eligendi incidunt inventore ipsam, laborum magnam necessitatibus nihil quaerat similique
        totam veritatis!
      </div>
    </div>
    <div class="about-image">
      <img src="../../../../assets/images/pizza_big.png" alt="фото кусочка пиццы">
      <img src="../../../../assets/images/pizza_big.png" alt="фото кусочка пиццы">
    </div>
  </div>
</section>

<app-popup [data]="'about component'"></app-popup>
